<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" package="android.auto_generated_rro_product__" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="29"/>
    <application android:extractNativeLibs="false"/>
    <overlay android:priority="1" android:targetPackage="android" android:isStatic="true"/>
</manifest>
